@charset "UTF-8";

body, html{
    margin: 0px;
    padding: 0px;
    font: normal 19px arial;
    background-color: rgb(88, 124, 148);
}

header h1{
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace

}

main{
    background-color: white;
    height: 60vh;
    width: 50vw;
    margin: auto;
    border-radius: 10px;
    
      

}
main section#horario{
    color: black;
    text-align: center;
    font: normal 24px Arial, Helvetica, sans-serif;
   

}

main p{
    
    text-align: center;
    width: 200px;
    height: 200px;
    
}

main section#imagens{
     
}

footer{
    text-align: center;
}